<!-- <h1 class="bg-primary">from app component</h1> -->
<!-- <h1>@Input</h1>
<app-home [name11]="title"></app-home> -->
<!-- <app-core></app-core> -->
<!-- <app-market></app-market> -->
<!-- <app-movie [movtit]="movidTitle"></app-movie> -->
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!-- <app-child></app-child> -->
            <!-- <router-outlet></router-outlet> -->
            <!-- <app-parent></app-parent> -->
            <app-promises-ex></app-promises-ex>
        </div>
    </div>
</div>



