<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li class="box"><a [routerLink]="['./formEvent']" routerLinkActive="router-link-active">form-Event</a></li>
            <li class="box"><a [routerLink]=" ['./interval']" routerLinkActive="router-link-active">interval</a></li>
            <li class="box"><a [routerLink]="['./formEvent']" routerLinkActive="router-link-active">form-Event</a></li>
            <li class="box"><a [routerLink]="['./formEvent']" routerLinkActive="router-link-active">form-Event</a></li>
        </ul>
    </div>
</div>