<div class="row">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-sm-12">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <div class="col-12 text-center pt-2 pb-2">Jagadeshwar Patel</div>
                        </mat-card-title>
                        <mat-card-subtitle class="col-12 text-center"><strong>Team Lead</strong></mat-card-subtitle>
                    </mat-card-header>
                    <div style="width:100%; text-align:center">
                        <img mat-card-image src="https://pbs.twimg.com/profile_images/1323226858180157440/GJpPloQt.jpg"
                            alt="Photo of a Shiba Inu" style="width:200px; height:200px; border-radius: 100%;">
                    </div>
                    <mat-card-content>
                        <p class="col-12 text-center">
                            Passionate Coder
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
            TEAM SUMMARY
        </div>
        <div class="col-12 mb-3">
            <mat-list style="background-color: gainsboro">
                <mat-list-item>NO. OF TEAM MEMBERS <span class="badge rounded-pill bg-dark pull-right" style="
                        position: absolute;
                        right: 5px;
                    ">Info</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>TOTAL COST OF ALL PROJECTS <span class="badge rounded-pill bg-dark pull-right" style="
                    position: absolute;
                    right: 5px;
                ">Info</span></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>PENDING TASKS <span class="badge rounded-pill bg-dark pull-right" style="
                    position: absolute;
                    right: 5px;
                ">Info</span></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>UPCOMMING PROJECTS <span class="badge rounded-pill bg-dark pull-right" style="
                    position: absolute;
                    right: 5px;
                ">Info</span></mat-list-item>
            </mat-list>
        </div>
        <div class="col-12 text-center pt-2 pb-2" style="font-family: Arial">
            CLIENTS
        </div>
        <div class="col-12 mb-3">
            <mat-list style="background-color: gainsboro">
                <mat-list-item>NO. OF TEAM MEMBERS</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>TOTAL COST OF ALL PROJECTS</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>PENDING TASKS</mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
    </div>
    <div class="col-lg-6" style="background-color: gainsboro">
        <div class="row">
            <div class="col-12 pt-0 pb-2" style="background-color: gainsboro">
                <div class="row mt-2">
                    <div class="col-6 text-left">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-toggle="dropdown">
                                Project A
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Project A</a>
                                <a class="dropdown-item" href="#">Project B</a>
                                <a class="dropdown-item" href="#">Project C</a>
                                <a class="dropdown-item" href="#">Project D</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right" style="text-align: right;position:relative">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                                data-toggle="dropdown">
                                2019
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">2019</a>
                                <a class="dropdown-item" href="#">2018</a>
                                <a class="dropdown-item" href="#">2017</a>
                                <a class="dropdown-item" href="#">2016</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shadow-none p-3 mb-5" style="text-align: center; background-color: floralwhite;">
                    <strong>PROJECT BRIEFING</strong>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table table-borderless">
                        <tr>
                            <td>Project Cost</td>
                            <td>$</td>
                        </tr>
                        <tr>
                            <td>Current Expenditure</td>
                            <td>$</td>
                        </tr>
                        <tr>
                            <td>Available Funds</td>
                            <td>$</td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-lg-3">angular</div>
</div>